body {
  font-family: 'Comfortaa', cursive;
  background-color: #00CED1;
}

#correctas {
  font-size: 2em;
  font-weight: bold;
  color: green;
}

.separator {
  font-size: 2em;
  font-weight: bold;
}

#incorrectas {
  font-size: 2em;
  font-weight: bold;
  color: red;
}

.main-section {
  margin: 1em 0;
}

.main-title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin: 1em 0 0 0;
}

.game-btn {
  width: 90%;
  display: block;
  margin: 0 auto;
  font-size: 56px;
}

.show {
  opacity: 1;
  transition: opacity 1000ms;
}

.hide {
  opacity: 0;
  transition: opacity 1000ms;
}

.logo {
  margin: 0;
  padding: 0;
}

.main-logos {
  display: block;
  margin: 0 auto;
  width: 256px;
}

.question {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.questions {
  width: 100%;
  margin: 1em 0;
}

.footer {
  margin: 1em 0 0 0;
  padding: 1em 0 0 0;
  text-align: center;
  background-color: #f8f9fa!important;
  height: 58px;
  position:fixed;
  left:0px;
  bottom:0px;
  width: 100%;
  vertical-align: middle;
  display: table-cell
}

#name {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}

#no-Play {
  color: green;
  text-align: center;
  border: 2px solid black;
  padding: 2em;
  display: none;
}

#titleTrivia {
  font-style: normal;
  font-family: fantasy;
  text-align:center;
  background-color: 	#FFD700;
  text-size: 22px;
  color:	black;
}

#titleRightAnswers {
  font-size: 20px;
  font-family: fantasy;
  color: #4B0082;
  margin-top: 6em;
  margin-left: 5em;
  text-align: left;
}
#titleWrongAnswers {
  font-size: 20px;
  font-family: fantasy;
  color: red;
  margin-right: 5em;
  text-align: right;
}

#right {
  border-right: 10px double #FFD700;
  display: inline-block;
  width: 300px;
  height: 300px;
  float: left;
  margin-top: 50px;
  /* margin-right: 112px; */
  padding: 2em;
}

#wrong {
  border-left: 10px double #FFD700;
  display: inline-block;
  width: 300px;
  height: 300px;
  float: right;
  padding: 2em;
  margin-top: 25px;
}

#show-results {
  display: none;
}

.image-laboratoria{
  margin: 2em 20em;
}

#image1 {
  float: left;
  width: 10em;
  height: 5em;
  margin-right: 20em;
  margin-top: 12em;
}

#image2 {
  float: right;
  width: 10em;
  height: 5em;
  margin-left: 20em;
}
