body {
  font-family: Arial;
  background-color: #00CED1;
}

table {
  background-color: white;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  display: 'none';
}

table.center {
  margin-left:auto; 
  margin-right:auto;
}

#hola {
  color: white;
  font-size: 22px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#questions {
  display: none;
}

#totalAnswer {
  display: none;
}

#totalAnswer > p{
  color: white;
}

#readyToPlay {
  display: none;
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.trivia-button {
  background-color: yellow;
  font-size: 18px;
  padding: 1em;
  font-weight: bold;
}

#name {
  /* font-size: 16px;
  font-weight: bold;
  width: 300px;
  height: 35px;
  border-radius: 25px;
  padding: 1em;
  border-color: black; */
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#nombreUsuario {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#no-play {
  color: green;
  text-align: center;
  border: 2px solid black;
  padding: 2em;
  display: none;
}

#titleTrivia {
  font-style: normal;
  font-family: fantasy;
  text-align:center;
  background-color: 	#FFD700;
  font-size: 30px;
  color:	black;
  padding: 1em;
}

#titleRightAnswers {
  font-size: 20px;
  font-family: fantasy;
  color: #4B0082;
  margin-top: 6em;
  margin-left: 5em;
  text-align: left;
}
#titleWrongAnswers {
  font-size: 20px;
  font-family: fantasy;
  color: red;
  margin-right: 5em;
  text-align: right;
}

#right {
  border-right: 10px double #FFD700;
  display: inline-table;
  width: 300px;
  height: 300px;
  float: left;
  margin-top: 50px;
  /* margin-right: 112px; */
  padding: 2em;
}

#wrong {
  border-left: 10px double #FFD700;
  display: inline-table;
  width: 300px;
  height: 300px;
  float: right;
  padding: 2em;
  margin-top: 25px;
}

#show-results {
  display: none;
}

.image-laboratoria{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#image1 {
  float: left;
  width: 10em;
  height: 8em;
  margin-right: 20em;
  margin-top: 12em;
}

#image2 {
  float: right;
  width: 10em;
  height: 6em;
  margin-left: 20em;
}
